<section class="white-section">
        <h2 class="title-white">¿Por qué pasarte a Premium?</h2>
        <article class="white-section-item">
          <img
            class="white-section-icon"
            src="./assets/images/benefit-1.png"
            alt="Nota musical"
          />
          <div class="white-section-text">
            <p class="white-section-text-title">Descarga música.</p>
            <p class="white-section-text-subtitle">Llévala siempre contigo.</p>
          </div>
        </article>
        <article class="white-section-item">
          <img
            class="white-section-icon"
            src="./assets/images/benefit-2.png"
            alt="Móvil con exclamación"
          />
          <div class="white-section-text">
            <p class="white-section-text-title">Sin anuncios.</p>
            <p class="white-section-text-subtitle">
              Disfruta de música sin interrupciones.
            </p>
          </div>
        </article>
        <article class="white-section-item">
          <img
            class="white-section-icon"
            src="./assets/images/benefit-3.png"
            alt="Notas musicales con play"
          />
          <div class="white-section-text">
            <p class="white-section-text-title">Escucha lo que quieras.</p>
            <p class="white-section-text-subtitle">Incluso en el móvil.</p>
          </div>
        </article>
        <article class="white-section-item">
          <img
            class="white-section-icon"
            src="./assets/images/benefit-4.png"
            alt="Móvil con botón de saltar canción"
          />
          <div class="white-section-text">
            <p class="white-section-text-title">
              Salta todas las canciones que quieras.
            </p>
            <p class="white-section-text-subtitle">
              Simplemente dale a siguiente.
            </p>
          </div>
        </article>
      </section>