<section class="white-section">
        <h2 class="title-white">¿Por qué pasarte a Premium?</h2>
        <include src="./ws-article.html" title="Descarga música." subtitle="Llévala siempre contigo." imgSrc="./assets/images/benefit-1.png" imgAlt="Nota musical"></include>
        <include src="./ws-article.html" title="Sin anuncios." subtitle="Disfruta de música sin interrupciones." imgSrc="./assets/images/benefit-2.png" imgAlt="Móvil con exclamación"></include>
        <include src="./ws-article.html" title="Escucha lo que quieras." subtitle="Incluso en el móvil." imgSrc="./assets/images/benefit-3.png" imgAlt="Notas musicales con play"></include>
        <include src="./ws-article.html" title="Salta todas las canciones que quieras." subtitle="Simplemente dale a siguiente." imgSrc="./assets/images/benefit-4.png" imgAlt="Móvil con botón de saltar canción"></include>

</section>