.footer {
  background-color: black;
}

.link {
  text-decoration: none;
  color: var(--text-color);
}
.header .link {
  font-weight: bold;
}

.logo-spotify {
  height: 30px;
  display: inline-block;
  margin-left: 20px;
}
.menu-item {
  display: inline-block;
  align-items: flex-end;
}
.menu {
  text-align: right;
  max-width: fit-content;
}
.footer {
  color: white;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 20px;
}
.footer ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 15px;
}
.footer nav {
  align-self: flex-end;
}
.footer p {
  margin: 8px;
}
.flag {
  width: 30px;
}
.footer-espania {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-espania2019 {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.menu-list {
  display:none;
}