.header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  position: sticky;
  top: 0;
}
.image-menu {
    height: 30px;
    margin-right: 20px;
}